.box13 {
  position: relative;
  transition: all 0.2s ease-out 0s;
}
.box13 .box-content,
.box13:after {
  position: absolute;
  left: 20px;
  right: 20px;
}
.box13:after {
  content: "";
  display: block;
  background: #ff3d00;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: all 0.4s ease-in-out 0s;
}
.box13:hover:after {
  opacity: 0.9;
  transform: rotate3d(0, 0, 0, 0deg);
}
.box13 img {
  width: 100%;
  height: auto;
}
.box13 .box-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate(10%, -30%);
  transform: translate(10%, -30%);
  transition: all 0.2s ease-out 0s;
}
.box13 .box-content a {
  text-decoration: none;
  color: black;
  padding-top: 0.5rem;
}
.box13 .box-content a:hover {
  font-weight: bold;
}
.box13:hover .box-content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: 0.2s;
}

.box13 .post {
  display: block;
  font-size: 15px;
  color: #f7f7b9;
  margin-bottom: 20px;
}
.box13 .social {
  padding: 0;
  margin: 0;
  list-style: none;
}
.box13 .social li {
  display: inline-block;
}
.box13 .social li a {
  display: block;
  width: 35px;
  height: 35px;
  background: #f7f7b9;
  border-radius: 50%;
  font-size: 17px;
  color: #1b1462;
  line-height: 35px;
  margin-right: 5px;
  transition: all 0.4s ease-in-out 0s;
}
.box14 .icon li,
.box14 .post {
  display: inline-block;
}
.box13 .social li a:hover {
  color: #f7f7b9;
  background: #39b54a;
}

@media only screen and (max-width: 990px) {
  .box13 {
    margin-bottom: 30px;
  }
}
