* {
  margin: 0px;
  padding: 0px;
}
/* smooth scroll */
html {
  scroll-behavior: smooth;
}
@media only screen and (min-width: 150px) {
  .welcome {
    font-family: "K2D", sans-serif;
    font-size: 30px;
  }
  .sub-text {
    font-family: "K2D", sans-serif;
    font-size: 15px;
  }
  .content_contact .contactme {
    font-size: 30px;
  }
  .content_contact .email {
    font-size: 15px;
  }
  .img_head {
    height: 100vh;
    width: 100%;
    float: left;
    background-image: url("../images/photo-300px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .content_skills {
    min-height: 700px;
    width: 100%;
    float: left;
    background-color: #ff8c00;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .content_portfolio {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffbb00;
  }
  .content_resume {
    min-height: 700px;
    width: 100%;
    float: left;
    background-color: #ff3d00;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .content_contact {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
}
@media only screen and (min-width: 576px) {
  .welcome {
    font-family: "K2D", sans-serif;
    font-size: 50px;
  }
  .sub-text {
    font-family: "K2D", sans-serif;
    font-size: 25px;
  }
  .content_contact .contactme {
    font-size: 30px;
  }
  .content_contact .email {
    font-size: 20px;
  }

  .img_head {
    height: 100vh;
    width: 100%;
    float: left;
    background-image: url("../images/photo-500px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* background-attachment: fixed; */
    background-size: cover;
  }
  .content_skills {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
  .content_portfolio {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffbb00;
  }
  .content_resume {
    min-height: 700px;
    width: 100%;
    float: left;
    background-color: #ff3d00;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .content_contact {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
}
@media only screen and (min-width: 768px) {
  .welcome {
    font-family: "K2D", sans-serif;
    font-size: 80px;
  }
  .sub-text {
    font-family: "K2D", sans-serif;
    font-size: 40px;
  }

  .img_head {
    height: 100vh;
    width: 100%;
    float: left;
    background-image: url("../images/photo-700px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* background-attachment: fixed; */
    background-size: cover;
  }
  .content_skills {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
  .content_portfolio {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffbb00;
  }
  .content_resume {
    min-height: 700px;
    width: 100%;
    float: left;
    background-color: #ff3d00;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .content_contact {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
}
@media only screen and (min-width: 992px) {
  .welcome {
    font-family: "K2D", sans-serif;
    font-size: 80px;
  }
  .sub-text {
    font-family: "K2D", sans-serif;
    font-size: 40px;
  }

  .welcome {
    font-family: "K2D", sans-serif;
    font-size: 80px;
  }
  .sub-text {
    font-family: "K2D", sans-serif;
    font-size: 40px;
  }

  .img_head {
    height: 100vh;
    width: 100%;
    float: left;
    background-image: url("../images/photo-980px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* background-attachment: fixed; */

    background-size: cover;
  }
  .content_skills {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
  .content_portfolio {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffbb00;
  }
  .content_resume {
    min-height: 700px;
    width: 100%;
    float: left;
    background-color: #ff3d00;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .content_contact {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
}
@media only screen and (min-width: 1200px) {
  .welcome {
    font-family: "K2D", sans-serif;
    font-size: 80px;
  }
  .sub-text {
    font-family: "K2D", sans-serif;
    font-size: 40px;
  }

  .img_head {
    height: 100vh;
    width: 100%;
    float: left;
    background-image: url("../images/photo-1498049860654-af1a5c566876.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .content_skills {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
  .content_portfolio {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffbb00;
  }

  .content_resume {
    min-height: 700px;
    width: 100%;
    float: left;
    background-color: #ff3d00;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .content_contact {
    min-height: 700px;
    width: 100%;
    float: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff8c00;
  }
}
.welcome-col {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

/*Resume Download button */
/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
